/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
.containerish {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 0;
}

section {
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {
  background: url('../../img/hero@2x.jpg') center / cover;
  height: 75vh;
  padding: 40px 20px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-main, .85);
  }
  .containerish {
    position: relative;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .section-info {
      width: 100%;
      max-width: 741px;
    }
  }
    .event-ol {
      background: rgba($color-dark, .8);
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      height: auto;
      padding: 1rem;

      .event-title {
        font-family: $font-primary;
        font-size: 13px;
        font-weight: 700;
        line-height: 18px;
      }
      .event-copy {
        font-family: $font-primary;
        font-size: 12px;
        font-weight: 500;
        line-height: 11px;
      }
      .event-btn {
        color: $color-white;
        font-family: $font-primary;
        font-size: 10px;
        font-weight: 700;
        border: solid 1px $color-white;
        padding: .3rem 1rem;
        transition: all .3s ease-in-out;
        &:hover {
          background: rgba($color-main, .5);
          text-decoration: none;
          transition: all .3s ease-in-out;
        }
      }
    }
}

/* -------------------------------------------------------------------------- */
/* SEARCH SECTION */
/* -------------------------------------------------------------------------- */
.search {
  background: $color-light;
  padding: 40px 20px;

  .containerish {
    display: grid;

    .form-control {
      border-radius: 0;
      margin-bottom: 0.5rem;
    }

    .form-control:not(button) {
      border: 1px solid #ededed;
    }

    ::placeholder {
      color: #3e3a42;
      font-family: $font-primary;
      font-size: 15px;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* TESTIMONIAL SECTION */
/* -------------------------------------------------------------------------- */
.testimonial {
  background: url('../img/testimonials-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  .containerish {
    height: 40vh;
    max-height: 380px;
    display: flex;
    justify-content: center;
    align-items: center;

    .section-info {
      text-align: center;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* REQUEST APPT. SECTION */
/* -------------------------------------------------------------------------- */
.appointments {
  background: url("../img/appointments-bg@2x.jpg") center / cover;
  min-height: 400px;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .appointment-wrapper {
    flex: 1;
    background: rgba($color-white, 0.90);
    padding: 2rem 1rem;
    max-width: 865px;
    display: grid;

    .form-copy {
      text-align: center;
    }

    .form-control {
      border-radius: 0;
    }

    input:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* ** SECTION */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* ** SECTION */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* ** SECTION */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* ** SECTION */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* ** SECTION */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* ** SECTION */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* ** SECTION */
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* ** SECTION*/
/* -------------------------------------------------------------------------- */


/* -------------------------------------------------------------------------- */
/* ** SECTION */
/* -------------------------------------------------------------------------- */